/* @tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* In your CSS file */
@font-face {
  font-family: 'Noto Sans Modi';
  src: url('../NotoSansModi-Regular.ttf') format('truetype');
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;



.container {
  flex-grow: 1; /* Allow content to grow and fill available space */
}

@font-face {
  font-family: 'Noto Sans Modi';
  src: url('../NotoSansModi-Regular.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
